<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/home.css">
</head>


<body>

    <div class="container-big">
        <img class="heroimage" src="https://images.pexels.com/photos/6035/healthy-apple-summer-garden.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="boom">

        <div class="container-middle">

            <h1 class="brandname">Boomkwekerij Cox</h1>
            <p>Voor al uw fruitbomen!</p>
            <span class="fade-effect1"></span><br /><br />

            <div class="grid-container">
                <div class="flex-container">
                    <div class="flex-item-left" style="background-color: white">
                        <h1>Header</h1>
                        <h6 class="containertextright">Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items</h6>
                    </div>
                    <div class="flex-item-right" style="background-color: white"><img class="containerimg" src="https://minishop.mkbstunter.nl/uploads/product-2027/appels_gala_stuks.jpg";/></div>
                </div>
            </div>

            <div class="flex-container">
                <div class="flex-item-left" style="background-color: #F7F7F7"><img class="containerimg" src="https://minishop.mkbstunter.nl/uploads/product-2027/appels_gala_stuks.jpg"; /></div>
                <div class="flex-item-right" style="background-color: #F7F7F7">
                    <h1>Header</h1>
                    <h6 class="containertextleft">Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items</h6>
                </div>
            </div>

            <div class="flex-container">
                <div class="flex-item-left" style="background-color: white">
                    <h1>Header</h1>
                    <h6 class="containertextright">Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items</h6>
                </div>
                <div class="flex-item-right" style="background-color: white"><img class="containerimg" src="https://minishop.mkbstunter.nl/uploads/product-2027/appels_gala_stuks.jpg"; /></div>
            </div>

            <div class="flex-container">
                <div class="flex-item-left" style="background-color: #F7F7F7"><img class="containerimg" src="https://minishop.mkbstunter.nl/uploads/product-2027/appels_gala_stuks.jpg"; /></div>
                <div class="flex-item-right" style="background-color: #F7F7F7">
                    <h1>Header</h1>
                    <h6 class="containertextleft">Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items Dit is een div met een lange lap tekst en dit is om te testen of de tekst goed blijft staan na het toevoegen van items</h6>
                </div>
            </div>

        </div>

        <div class="container-bottom">

            <div class="flex-container1">

                <div class="parent-container">

                    <div class="child-container">
                        <h6 class="headbottom"> &copy; 2021 - Boomkwekerij Cox</h6>
                    </div>

                </div>
            </div>

        </div>

    </div>
</body>

</html>