<html>

<head>
    <link rel="stylesheet" type="text/css" href="~/css/over_ons.css">
</head>


<body>

    <div class="container-big">

        <div class="container">
            <div class="middlediv">
                <div>
                    <h1 class="header">Over Cox Boomkwekerijen</h1>
                </div>

                <div>
                    <p>Dit is een stuk tekst wat ingevuld moet worden</p>
                    <p>Dit is een stuk tekst wat ingevuld moet worden</p>
                    <p>Dit is een stuk tekst wat ingevuld moet worden</p>
                </div>

                <div>
                    <img class="headerimg" src="https://pbs.twimg.com/media/Eld-UGnU8AIkcQy.jpg" alt="fruit"/>
                </div>
            </div>
        </div>


        <div class="container-bottom">

            <div class="flex-container">
                <h6 class="headbottom"> &copy;Copyright Boomkwekerij Cox</h6>
            </div>

        </div>

    </div>
</body>

</html>